@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

:root {
  --font-family: 'Roboto Mono', monospace;
  --font-size__base: 16px;
  --font-size__small: 12px;
  --padding-base: 20px;
  --padding-small: 10px;
  --off-white: #fdfcfc;
  --dark-grey: #333;
  --light-grey: #f1f1f1;
  --turq: #00bcd4;
  --light-turq: #b2e8f0;
  --focus-outline: 2px dashed var(--turq);
  --focus-outline--dark: 2px dashed var(--dark-grey);
  --focus-box-shadow: 0px 2px 4px var(--dark-grey);
  --red: #f44336;
}

body {
  font-family: var(--font-family);
  background: var(--off-white);
  font-size: var(--font-size__base);
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,h2 {
  color: var(--turq);
}

ul {
  padding: 0;
  list-style: none;
}

a,
a:visited {
  color: black;
}

a:focus {
  outline: var(--focus-outline);
}

img {
 display: block;
 max-width: 100%; 
}
